.rviewerLogo {
    height: 40vmin;
    pointer-events: none;
}

.header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .rviewerLogo {
        animation: rviewer-logo-spin infinite 20s linear;
    }
}

@keyframes rviewer-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
